.header{
    float: left;
    width: 100%;
}
.addmain{
    width:60%;
    background: rgba(0, 0, 255, 0.39) ;
    overflow: hidden;
    margin: auto;
    padding: 20px;
}
.addmain select,input,button{
    width: 100px;
    height: 40px;
    border-radius: 5px;
}
.addmain select,input,button{
   font-size: 16px;

}
.applyfor{
    width: 100%;
    height: 300px;
    background: '../../assets/fca65a2ceb2d6ad0400e3120521add8.png' no-repeat center;
}
.view{
    list-style: none;
    width: 60%;
    overflow: hidden;
    margin: auto;
}
.view li{
    width: 33%;
    float: left;
    overflow: hidden;
    margin-top:20px;
}
.receipts{
    width: 800px;
    overflow: hidden;

}
.receipts h3{
    display: block;
    margin-left: 35%;
}
.receipts ul{
    margin: auto;
    list-style: none;
    width: 80%;
    overflow: hidden;
}
.receipts ul li{
    border: 1px black solid;
}
.receipts ul .daoru{
    overflow: hidden;

}
.receipts .totalModel{
    overflow: hidden;
    width: 80%;
    margin: auto;

}
.receipts .totalModel .itemList{
    width: 100%;
    overflow: hidden;

}
/* 新导入 */
.upload-csv{
    width: 120px;
    height: 40px;
    background-color: #f7f7f7;
    display: inline-block;
    padding-right: 16px;
    text-align: center;
  }
  .csv-btn{
   height: 100%;
    display: inline-block;
    text-align: center;
    position: relative;
  }
  .csv-btn input{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 0px;
    cursor: pointer;
  }
  .again-upload{
    position: relative;
    vertical-align: middle;
  }
  .again-upload input{
    width: 80px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 0px;
    cursor: pointer;
  }
.buttom{
    overflow: hidden;
    float: right;
}
